@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #80b229;
    --color-secondary: #f18536;
    --color-background: #f0f0f0;
    --color-text: #333;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: var(--color-primary);
    color: white;
    padding: 0 10vw;
    height: 10vh;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#title {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
#title h1 {
    font-weight: 800;
    transition: transform 0.3s ease, margin-left 0.3s ease;
}
#title img {
    height: 10vh;
    margin-right: 25px;
    transition: transform 0.3s ease;
}
#title:hover img {
    transform: scale(1.2);
}
#title:hover h1 {
    transform: translateX(10px);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 100px;
    letter-spacing: 2px;
    position: relative;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    position: relative;
}
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: var(--color-secondary);
    bottom: -4px;
    left: 0;
    transition: width 0.3s ease;
}
nav a:hover::after {
    width: 100%;
}

#landing {
    height: 90vh;
    background-image: url("../resources/img/bikes/bgBike.jpg");
    background-size: cover;
    background-position: top center;
    background-blend-mode:multiply;
    background-color: #33333383;

    position: relative;
    overflow: hidden;
}
#landing h2 {
    color: var(--color-background);
    font-size: 4vw;
    font-weight: 800;
    letter-spacing: 2px;

    margin-top: 15vh;
    margin-bottom: -14vh;
    margin-left: 15vw;

    transition: all 0.3s ease;
}
#landing h2:hover {
    letter-spacing: 8px;
    margin-left: 16vw;
}
#landing a {
    font-size: 3vw;
    color: var(--color-background);
    transition: all 0.3s ease;
    animation: bounce 2.6s infinite;

    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-bottom: 50px;
    margin-left: -1.5vw;
}
#landing a:hover {
    animation: none;
}
@keyframes bounce {
    0%, 30.76%, 46.14%, 61.52%, 100% {
        padding-bottom: 0;
    }
    38.45%, 53.83% {
        padding-bottom: 10px;
    }
}
#landing a:hover {
    color: var(--color-secondary);
}

#bikes {
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bikes h2 {
    text-align: center;
    color: var(--color-text);
    padding-top: 3vh;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 5px;
}
#products {
    display: flex;
    justify-content: center;
}
.product {
    width: 30vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product img {
    width: 90%;
    margin-bottom: 2vh;
    border-radius: 25px;
}
.product figcaption {
    color: var(--color-text);
}
#bikes a {
    color: var(--color-primary);
    margin-top: 4vh;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border: 3px solid var(--color-primary);
    border-radius: 50px;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
#bikes a:hover {
    color: var(--color-background);
    background-color: var(--color-primary);
}
  
#contact {
    height: 35vh;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
}
#contact-left {
    flex: 1;
    color: var(--color-background);
}
#contact-left p {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10vw;
    margin-bottom: 3vh;
}
#contact-left a {
    color: var(--color-background);
    margin-left: 10vw;
    margin-bottom: 7vh;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border: 3px solid var(--color-background);
    border-radius: 50px;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
#contact-left a:hover {
    color: var(--color-primary);
    background-color: var(--color-background);
}
#contact-right {
    flex: 1;
    background-image: url("../resources/img/bikes/back.webp");
    background-size: cover;
    background-position: bottom left;
    background-blend-mode:multiply;
    background-color: #33333354;
    height: 100%;
    transform: scaleX(-1);
}

#values {
    height: 75vh;
    display: flex;
    align-items: center;
}
#valuesL {
    width: 35vw;
    background-image: url("../resources/img/bikes/wheel.webp");
    background-size: cover;
    background-position: bottom left;
    background-blend-mode:multiply;
    background-color: #33333354;
    height: 100%;
}
#valuesR {
    height: 100%;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
}
#valuesR h2 {
    text-align: center;
    color: var(--color-text);
    padding-top: 3vh;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 5px;
}
#valuesR > p {
    font-weight: 500;
    font-size: 20px;
    width: 40vw;
    text-align: justify;
}
#valueList {
    display: flex;
}
.value {
    width: 15vw;
    margin: 5vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value p {
    width: 15vw;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.value i{
    color: var(--color-primary);
    font-size: 62px;
    margin-bottom: 20px;
    padding: 10px;
}

footer {
    background-color: var(--color-text);
    color: var(--color-background);
}
#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}
#info {
    width: 25vw;
    padding-left: 10vw;
}
#info p a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
#info p a:hover {
    color: var(--color-secondary);
}
#social {
    margin-top: -5vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#social img {
    width: 20%;
    margin-bottom: -50px; 
}
#social p {
    font-size: 28px;
    font-weight: 800;
}
#links {
    display: flex;
    justify-content: center;
}
#links a {
    text-decoration: none;
    color: var(--color-background);
    font-size: 24px;
    margin: 0 10px;
    transition: all 0.3s ease;
}
#links a:hover {
    color: var(--color-secondary);
}
#legal {
    background-color: white;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}
#legal a {
    color: gray;
    font-size: 12px;
}

#goUp {
    position: fixed;
    bottom: 40px;
    right: 25px;
    font-size: 42px;
    color: var(--color-primary);
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;
}
#goUp:hover {
    color: var(--color-secondary);
}